<footer class="main-footer pb-0">
  <div class="row pl-2">
    <div class="col-md-6 col-sm-12 col-xs-12 ">

      <span class="m-0 text-bold text-dark">
        HÀ NỘI
      </span>
      <span>
        Khu Giáo dục và Đào tạo – Khu Công nghệ cao Hòa Lạc – Km29 Đại lộ Thăng Long, H. Thạch Thất, TP. Hà Nội
        Điện thoại: 024 7300 1866
        Email: daihocfpt@fpt.edu.vn</span> </div>
        <div class="col-md-6 col-sm-12 col-xs-12  row text-center justify-content-end  policy">
         
           
         
          
          <div class="text-center ">
            <p class="pt-1">© 2017 Bản quyền thuộc về Trường đại học FPT.
            </p>
            <i class="fab fa-facebook-square fa-2x mx-2 text-dark"></i>
            <i class="fab fa-instagram-square fa-2x mx-2 text-dark"></i>
            <i class="fab fa-github fa-2x mx-2 text-dark"></i>
          </div>
          

        </div>
     
    </div>
</footer>