<div class="">
    <div class="card-header">
        <h3 class="d-inline">Add event member</h3>
        <i class="fas fa-times fa-lg mt-1 float-right" mat-dialog-close></i>

    </div>
    <div class="p-2">
        <label for="" class="mt-2 mr-2">Search account: </label>
        <mat-form-field appearance="outline">
            <input matInput type="text" [(ngModel)]="searchMember" name="search" placeholder="search"
                (ngModelChange)="searchAccount()">
        </mat-form-field>
        <div class="table-responsive" style="height: 55vh; overflow: auto;">
            <table class="table w-100">
                <thead>
                    <tr>
                        <th style="width: 80px;">select Account</th>
                        <th>full name</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody
                    *ngFor="let account of accountList | paginate: { id:'confirmPaging', itemsPerPage: 10, currentPage: pageIndex }; let i= index">
                    <td class="text-center">
                        <mat-checkbox (change)="onselectMember(account,member)" #member></mat-checkbox>
                    </td>
                    <td class="text-center">{{account.fullName}}</td>
                    <td class="text-center">{{account.email}}</td>
                </tbody>
            </table>
            <pagination-controls id="confirmPaging" (pageChange)="pageIndex = $event"></pagination-controls>
        </div>
        <div class="row justify-content-end">
            <button class="btn btn-danger mr-2" mat-dialog-close>Cancel</button>
            <button class="btn btn-primary " (click)="saveEventMember()">Save</button>
        </div>

    </div>
</div>