
<div class="card">
    <div class="card-header">
        <h4>Request log detail</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="max-height: 70vh;">
            <table class="table table-hover table-striped" [busy]="isLoading">
                <thead>
                    <tr>
                        <th>Facility</th>
                        <th>timeUsing</th>
                        <th>useDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of requestDetail  | paginate: { id: 'paging', itemsPerPage: 10, currentPage: p };">
                        <td class="text-center">{{detail?.facility?.facilityName}}</td>
                        <td class="text-center">{{detail?.timeUsing}}</td>
                        <td class="text-center">{{detail?.useDate | date:"dd/MM/yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls id="paging" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>