<section class="content px-2">
    <div class="container-fluid">
        <div class="card">
            <div class="mb-0 mt-1">
            </div>
            <div class="card-body table-responsive p-4">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center table-hover table-striped text-nowrap">
                            <thead>
                                <tr class="bg-light-gray">
                                    <th style="width: 80px;">#</th>
                                    <th>Facility</th>
                                    <th>Capacity</th>
                                    <th>Building</th>
                                    <th>For club event</th>
                                    <th>Available</th>
                                    <th>Not for personal</th>
                                    <th style="width: 160px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let facility of facilityList| paginate: { id:'paging', itemsPerPage: 10, currentPage: p } ; let i=index  ">
                                    <td>{{i+1}}</td>
                                    <td>{{facility.facilityName}}</td>
                                    <td class="text-center">{{ facility.capacity }}</td>
                                    <td style="width: 150px;" class="text-center">

                                        <i
                                            [ngClass]="facility.building?'fas fa-check fa-lg text-success':'fas fa-times fa-lg text-danger'"></i>

                                    </td>
                                    <td style="width: 150px;" class="text-center">
                                        <i
                                            [ngClass]="facility.forClubEvent?'fas fa-check fa-lg text-success':'fas fa-times fa-lg text-danger'"></i>
                                    </td>
                                    <td style="width: 150px;" class="text-center">

                                        <i
                                            [ngClass]="facility.available?'fas fa-check fa-lg text-success':'fas fa-times fa-lg text-danger'"></i>

                                    </td>
                                    <td style="width: 150px;" class="text-center">

                                        <i
                                            [ngClass]="facility.notForPersonal?'fas fa-check fa-lg text-success':'fas fa-times fa-lg text-danger'"></i>

                                    </td>
                                    <td>
                                        <div class="md-group">
                                        <button class="btn btn-danger"
                                            (click)="deleteFacility(facility)">Delete</button>
                                        </div>
                                       
                                        <div class="mobile-group" style="display: none;">
                                            <button mat-button [matMenuTriggerFor]="menu"><i
                                                    class="fas fa-bars"></i></button>
                                            <mat-menu class="menu" #menu="matMenu">
                                                <button mat-menu-item class="btn w-100 "
                                                    (click)="deleteFacility(facility)">Delete</button>
                                            </mat-menu>

                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <pagination-controls id="paging" (pageChange)="p = $event"></pagination-controls>
                </div>

            </div>
        </div>
    </div>
</section>