<div class=" mx-4 my-2 p-4">
    <div class="card-header px-0 pt-0">
      <div class="input-group  pt-1">
        <div class="input-group-prepend">
        </div>
        <div class="input-group-append">
            <!-- <button type="button" class="btn btn-default" (click)="checkAddFilter()">
                <i class="fas" [class.fa-angle-up]="advancedFiltersVisible"
                    [class.fa-angle-down]="!advancedFiltersVisible"></i>
            </button> -->
        </div>
      
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr class="bg-light-gray">
            <th style="width: 80px">#</th>
            <th>Event name</th>
            <th>From date</th>
            <th>To date</th>
            <th>Member</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
                let event of eventList
                  | paginate: { id: 'paging', itemsPerPage: 10, currentPage: p };
                let i = index
              ">
            <td>{{ i + 1 }}</td>
            <td>{{ event.eventName }}</td>
            <td>{{ event.fromDate | date:"dd/MM/yyyy " }}</td>
            <td>{{ event.toDate | date:"dd/MM/yyyy " }}</td>
            <td>{{event.accounts.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls id="paging" (pageChange)="p = $event"></pagination-controls>
  </div>